.etch-a-sketch-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.row-canvas {
  display: flex;
  /* flex: 1 1 auto; */
  /* max-width: 100%; */
  /* height: auto; */
  padding: 0;
  margin: 0;
}

.column-canvas {
  display: flex;
  flex-direction: column;
  /* flex: 0 1 auto; */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* width: auto; */
  /* max-height: inherit; */
  /* flex-shrink: 1; */
  }

.canvas {
  /* background-color: white; */
  flex: 1 1 auto;
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
  border: solid 1px;
}
