body {
  background-color: aliceblue;
}

.etch-a-sketch-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  border: 2px;
}
/**/
/* .header { */
/*   /* height: 20%; */ */
/*   flex: 0 0 auto; */
/*   padding-bottom: 5%; */
/* } */

.footer{
  flex: 0 0 auto;
  /* padding-top: 5%; */
}

.row-canvas {
  flex: 1 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
}

.column-canvas {
  height: 100%;
  padding: 10vh 35vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  aspect-ratio: 1/1;
}

.canvas {
  /* background-color: white; */
  /* background-color: grey; */
  background-color: white;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
}
